.App{
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-40%);
}
.input-div{
    width:320px;
    height:60px;
    background-color:green;
    display:flex;
    align-items: center;
    justify-content:space-around;
    overflow: hidden;
    font-size: 30px;
    color:white;
    border:1px 1px 0 1px solid darkblue;

}
.input-div:hover{
    cursor:pointer;
    background-color: black;
    color:bisque;
}
button{
    width:80px;
    height:80px;
    cursor:pointer;
    font-size: 30px;
    border: 1px solid black;
    background-color: darkblue;
    color:white;
}
.zero{
    width:160px;
}
.container{
    border: 0 1px 1px 1px solid black
}
button:hover{
    background-color: white;
    color:black;
}
.right-corner{
    background-color: yellow;
    color:black;
}
body{
    background-color: #00B9F1;
}
h1{
    margin-left:20%;
    
    animation:changeColor infinite 5s alternate;
}
@keyframes changeColor {
    0%{
        color:#002E6E;
    }
    20%{
        color:yellow;
    }
    40%{
        color:red;
    }
    60%{
        color:white;
    }
    80%{
        color:indigo;
    }
    100%{
        color:azure;
    }
}